* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    background: url('https://t3.ftcdn.net/jpg/05/88/10/28/360_F_588102895_AxkhLTjt3pQasSnaH3oxKyhpJIC7d0ib.jpg') repeat-y center center/cover;
    min-height: 100vh;
    width: 99vw;
    position: absolute;
    z-index: -1;
}
