.text-container {
    min-height: 55vh;
    max-height: 55vh;
    min-width: 55vw;
    max-width: 55vw;
    width: 60%;
    color: var(--Pure-White, #FFF);
    font-family: Poppins;
    font-style: normal;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-container::-webkit-scrollbar {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.micOff {
    background-color: rgb(234, 18, 18);
    border-radius: 100%;
    padding: 1rem;
}

.micOn {
    background-color: blue;
    border-radius: 100%;
    padding: 1rem;
}

.listen-status {
    color: var(--Pure-White, #FFF);
    font-family: Poppins;
    font-style: normal;
    font-size: 1.5rem;
    background-color: grey;
    margin-top: 1rem;
    padding: 1rem 2rem;
}

.textBox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textInput-container {
    width: 100%;
}

#textBox {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: var(--Pure-White, #FFF);
    font-family: Poppins;
    font-style: normal;
    background-color: transparent;
    /* border: none; */
}

.sendBtn-container>button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: rgb(39, 193, 39);
    color: var(--Pure-White, #FFF);
    font-family: Poppins;
    font-style: normal;
    border-radius: 10px;
    border: none;
}

.sendBtn-container>button:hover {
    background-color: rgb(33, 140, 33);
    transition: 0.5s;
}

.sendBtn-container>button:active {
    background-color: rgb(19, 79, 19);
    transition: 0.5s;
}

video {
    max-height: 40vh;
    border-radius: 10px;
}

.webcam-container {}

.main-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}



.spin-wrapper {
    z-index: 100;
    position: absolute;
    background-color: black;
    opacity: 0.3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.lds-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#textBox::placeholder{
    color: rgb(208, 198, 198);
}